SmvCloudWorker/CloudConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SMVCloudConfig"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="SMVCloudConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StorageConnectionString" type="ConnectionStringType" minOccurs="1" maxOccurs="1" />
        <xs:element name="ServiceBusConnectionString" type="ConnectionStringType" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ConnectionStringType">
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>